@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-mobile.svg), hsl(225, 100%, 94%);
    background-repeat: no-repeat;
}

h1 {
    color: hsl(223, 47%, 23%);
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(224, 23%, 55%)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.order-summary-container {
    background: white;
    box-shadow: 0 1rem 6rem -3rem hsl(223, 47%, 23%);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    height: 80%;
    min-height: 560px;
    max-height: 570px;
    border-radius: 20px;
    overflow: hidden;
}

.order-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
    background: white;
    padding: 0 3.5rem;
}

.order-text {
    width: 100%;
    line-height: 2.5rem;
}

.order-text h1 {
    font-size: 2.2rem;
    font-weight: 900;
}

.order-text p {
    font-size: 1.6rem;
    padding-top: 2rem;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-zone {
    text-align: left;
    margin-right: auto;
    margin-left: 2rem;
}

.text-zone h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

.order-item a {
    color: hsl(245, 75%, 52%);
    font-size: 1.4rem;
    font-weight: 700;
}
.order-item a:hover {
    color: hsl(245, 83%, 68%);
    text-decoration: none;
}

.order-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.main-button {
    display: inline-block;
    background: hsl(245, 75%, 52%);
    color: white;
    width: 110%;
    box-shadow: 0 1rem 2rem -1rem hsl(245, 75%, 52%);
    border-radius: 10px;
    font-weight: 900;
    text-decoration: none;
    padding: 1.6rem;
}

.main-button:hover {
    background: hsl(245, 83%, 68%);
}

.cancel-button {
    font-weight: 900;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    padding-top: 2rem;
}

.cancel-button:hover {
    color: hsl(223, 47%, 23%);
}



/* ### MEDIA QUERIES ### */



@media screen and (min-width: 376px) {
    body {
        background: url(images/pattern-background-desktop.svg), hsl(225, 100%, 94%);
        background-repeat: no-repeat;
    }    
}


/* ### EXTRA LARGE DEVICES ### */

@media screen and (min-width: 1440px) {
    .order-summary-container {
        max-width: 450px;
        max-height: 700px;
    }

    .order-info {
        padding: 0 6.5rem;
    }

    .order-text {
        line-height: 3rem;
    }

    .order-text h1 {
        font-size: 3rem
    }
}

/* ###ATTEMPT 1 DONE###
Things to change:
.order-summary-container height(a bit too tall), width(a bit too small) ##DONE
.order-info background to white ##DONE
.main-button font-weight ##DONE
.order-info h1, .order-item a, .main-button font-size */
